/* 마진 패딩 초기화 */
* { padding: 0; margin: 0; }

/* 페이지 기본 글꼴과 크기 설정 */
body { font-family: "나눔고딕"; font-size: 14px; }
img { border: 0;}
ul { list-style-type: none; }

/* <a> 태그 기본 설정 */
a { display: inline-block; text-decoration: none; }
a:link { text-decoration:none; color: #222222; }
a:hover { text-decoration:none; color: #222222; }
a:visited { text-decoration:none; color: #222222; }
a:active { text-decoration:none; color: #222222; }

/* 상단 헤더 */
#top { position: relative; width: 1300px; height: 80px; margin: 0 auto; background-color: #679b9b;}
#top h3 { position: absolute; top: 20px; left: 40px; font-size: 30px; }
#top #top_menu { float: right; margin: 15px 60px;}
#top #top_menu a { margin-left: 50px;}
#top #top_menu a:link { color: white; }
#top #top_menu a:hover { color: white; }
#top #top_menu a:visited { color: white; }
#top #top_menu a:active { color: white; }

/*검색*/
.search_form {
    display: inline;
}
.search_input{
    width: 450px;
    height: 30px;
    border: 1.5px solid #E6E6E6;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    box-shadow: 2px 2px 5px lightgray;
}

.search_result_btn{
    width: 60px;
    height: 42px;
    transform: translateY(2%);
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px lightgray;
}

/* footer */
footer {
    display: block;
    width: 1300px;
    margin: 40px auto 0 auto !important;
}

#footer_top{
    display: block;
}

.footer_container_row {
    float: left;
    position: relative;
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 10px 0;
}
.footer_container {
    float: left;
    position: relative;
    display: inline-block;
    width: 25%;
    margin: 30px 0;
}

.footer_container strong {
    font-size: 1.2rem;
    color: #679b9b;
    font-weight: bold;
    margin: 10px 0;
}

.footer_container li {
    margin: 10px 0;
}

.footer_container li a:link, .footer_container li a:visited, .footer_container li a:hover {
    text-decoration: none;
    color: black;
}