@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body { background: white url("https://codepen.io/images/classy_fabric.png"); }

.slides {
    padding: 0;
    width: 609px;
    height: 520px;
    display: block;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1300px;
    height: 500px;
    display: block;
    position: absolute;
    
    margin-top: 20px;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    
}

.nav label {
    width: 120px;
    height: 500px;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 500px;
    
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
    position: absolute;

}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 30px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
    margin-bottom: 25px;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 20px;
    left: 350px;
    position: relative;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
label.prev {
    right: 20px;
}
label.next {
    left: 960px;
}

#movie_introduce {
 border: 5px;
 border-style: solid;  
 width: 1300px;
 height: 1500px; 
 margin-top: 30px;
 position: relative;
}

#movie_subject {
    border: 2px;
    border-style: solid;
    width: 160px;
    height: 140px;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}

#movie_content {
    border: 5px;
    border-style: solid;
    width: 1000px;
    height: 150px;
    text-align: center;
    position: absolute;
    margin-left: 150px;
    margin-top: 210px;
}

#favorite_movie {
width: 80px;
height: 80px;
margin-top: 30px;
margin-left: 240px;
position: absolute;
background: url("./img/add_button.jpg");

}

#movie_smail_introduce {
    width: 410px;
    height: 50px;
    margin-top: 120px;
    margin-left: 240px;
    border: 2px;
    border-style: solid;
    text-align: center;
    position: absolute;
}

#movie_score {
    width: 300px;
    height: 75px;
    top: 30px;
    margin-left: 350px;
    border: 2px;
    border-style: solid;
    text-align: center;
    position: absolute;
}

#movie_casting_container {
    width: 1000px;
    height: 320px;
    margin-top: 410px;
    margin-left: 150px;
    border: 5px;
    border-style: solid;
    text-align: center;
    position: relative;
}

#movie_casting_prev {
    width: 70px;
    height: 180px;
    position: absolute;
    top: 100px;
    left: 0px;
}

#movie_casting_next {
width: 70px;
height: 180px;
position: absolute;
top: 100px;
right: 0px;
}

#movie_cast_1 {
width: 90px;
height: 130px;
border: 2px;
border-style: solid;
top: 120px;
left: 80px;
position: absolute;
}

#movie_cast_2 {
    width: 90px;
    height: 130px;
    border: 2px;
    border-style: solid;
    top: 120px;
    left: 195px;
    position: absolute;
    }

    #movie_cast_3 {
        width: 90px;
        height: 130px;
        border: 2px;
        border-style: solid;
        top: 120px;
        left: 305px;
        position: absolute;
        }

        #movie_cast_4 {
            width: 90px;
            height: 130px;
            border: 2px;
            border-style: solid;
            top: 120px;
            left: 415px;
            position: absolute;
            }

#movie_comment_container {
    width: 1000px;
    height: 650px;
    border: 5px;
    border-style: solid;
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
    position: relative;
} 

#movie_comment_box {
    width: 650px;
    height: 570px;
    border: 2px;
    border-style: solid;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 240px;
} 

.user_comment_title{
    width: 150px;
    margin: 40px 0 0 0;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
  }

  .user_comment_title span{
    font-size: 26px;
    font-weight: bold;
    color: #585858;
  }

  .star_rating {
    font-size:0;
    letter-spacing:-4px;
  }
  .star_rating a {
      font-size:22px;
      letter-spacing:0;
      display:inline-block;
      margin-left:5px;
      color:#ccc;
      text-decoration:none;
  }
  .star_rating a:first-child {margin-left:0;}
  .star_rating a.on {color:#777;}
  
  
  .star_rating_content {
    font-size:0;
    letter-spacing:-4px;
  }
  
  .star_rating_content a {
      font-size:16px;
      letter-spacing:0;
      display:inline-block;
      margin-left:5px;
      color:#ccc;
      text-decoration:none;
  }
  .star_rating_content a:first-child {margin-left:0;}
  .star_rating_content a.on {color:#777;}

  .comment_profile_img{
    float: left;
    margin-top: -3px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 70%;
    overflow: hidden;
  }
  
  .comment_profile_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .user_comment_content{
    width: 650px;
    height: 150px;
    border-bottom: 1px solid lightgray;
    margin-top: 45px;
    margin-bottom: -20px;
    position: relative;
  }
  
  .comment_profile_name{
    width: 300px;
    margin-top: 25px;
    margin-left: 80px;
  }
  
  .comment_profile_name a{
    text-decoration: none;
    color: #585858;
  }
  
  .comment_line {
    display: inline-block;
    width: 450px;
    height: 70px;
    margin-top: 20px;
    margin-left: 18px;
  }
  
  .board_number{
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .board_number a{
    text-decoration: none;
    color: #585858;
  }
  
  .page_line{
    width: 600px;
    height: 30px;
    margin-top: 30px;
  }
  
  .page_num {
    list-style: none;
    text-align: center;
  }
  
  .page_num li {
    display: inline-block;
  }
  
  .div_chu{
    width: 180px;
    height: 30px;
    text-align: center;
  }
  
  .div_chu img{
    width: 15px;
    height: 15px;
  }
  
  .div_chu_box{
    width: 160px;
    height: 25px;
    float: right;
    margin-right: 15px;
    margin-top: -127px;
  }
  
  .div_chu #like_count{
    display: inline-block;
    width: 70px;
    height: 25px;
    border: 1.25px solid skyblue;
    cursor: pointer;
  }
  
  .div_chu #dislike_count{
    display: inline-block;
    width: 70px;
    height: 25px;
    border: 1.25px solid orange;
    cursor: pointer;
  }
  
  .div_chu #like_count img{
    transform: translateY(20%);
  }
  
  .div_chu #dislike_count img{
    transform: translateY(30%);
  }
  
  .div_chu #like_count:hover{
    border: 1.25px solid #11AAFD;
  }
  
  .div_chu #dislike_count:hover{
    border: 1.25px solid darkorange;
  }
  
  .page_num a{
    text-decoration: none;
    color: black;
  }
  
