@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body {
    background: white url("https://codepen.io/images/classy_fabric.png");
}

/* ================ wootcha 상단 div 왼쪽버튼 ================= */
.css-jxbkzh-StyledJumbotronArrowButton-StyledJumbotronArrowPrevButton:hover {
    opacity: 1;
}

.css-jxbkzh-StyledJumbotronArrowButton-StyledJumbotronArrowPrevButton {
    padding-right: 19px;
    padding-left: 18px;
}

.css-jxbkzh-StyledJumbotronArrowButton-StyledJumbotronArrowPrevButton {
    width: 50px;
}

.css-jxbkzh-StyledJumbotronArrowButton-StyledJumbotronArrowPrevButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 52.2%;
    z-index: 3;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4%;
    height: 50%;
    opacity: 0.28;
    cursor: pointer;
    left: 0;
    padding-right: 1.484375vw;
    padding-left: 300px;
}

/* ================ wootcha 상단 span 왼쪽버튼 ================= */
.css-1jewpj1-StyledJumbotronArrowButtonIcon {
    display: inline-block;
    position: relative;
    top: -1.640625vw;
    width: 100%;
}

/* ================ wootcha 상단 svg 왼쪽버튼 ================= */
.css-1jewpj1-StyledJumbotronArrowButtonIcon svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* ================ wootcha 상단 div 오른쪽버튼 ================= */
.css-1kvaztz-StyledJumbotronArrowButton-StyledJumbotronArrowNextButton:hover {
    opacity: 1;
}

.css-1kvaztz-StyledJumbotronArrowButton-StyledJumbotronArrowNextButton {
    padding-right: 18px;
    padding-left: 19px;
}

.css-1kvaztz-StyledJumbotronArrowButton-StyledJumbotronArrowNextButton {
    width: 50px;
}

.css-1kvaztz-StyledJumbotronArrowButton-StyledJumbotronArrowNextButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 52.2%;
    z-index: 3;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4%;
    height: 50%;
    opacity: 0.28;
    cursor: pointer;
    right: 0;
    padding-right: 300px;
    padding-left: 1.484375vw;
}

/* ================ wootcha 상단 span 오른쪽버튼 ================= */
.css-1jewpj1-StyledJumbotronArrowButtonIcon {
    display: inline-block;
    position: relative;
    top: -1.640625vw;
    width: 100%;
}

/* ================ wootcha 상단 svg 오른쪽버튼 ================= */
.css-1jewpj1-StyledJumbotronArrowButtonIcon svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* 슬라이드 이미지 */
.slideShow {
    position: relative;
    background-color: black;
    width: 100%;
    height: 500px;
    min-width: 1500px;
    overflow: hidden;
    margin-top: 40px;
}

.slideShow_slides {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slideShow_slides a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding-top: 20px;

}

.slideShow_nav a.prev {
    position: absolute;
    z-index: 3;
    width: 71px;
    height: 71px;
    background: url('../img/sprites.png') no-repeat -0px -20px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    margin-left: -500px;
}

.slideShow_nav a.next {
    position: absolute;
    z-index: 3;
    width: 71px;
    height: 71px;
    background: url('../img/sprites.png') no-repeat -81px -20px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    margin-left: 500px;
}

.slideShow_indicator {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    text-align: center;
}

.slideShow_indicator a {
    background: url('../img/sprites.png') no-repeat -113px -4px;
    width: 9px;
    height: 8px;
    margin: 0 5px;
    text-indent: -9999em;
    display: inline-block;
}

.slideShow_indicator a.active {
    background: url('../img/sprites.png') no-repeat -133px -4px;
    width: 9px;
    height: 8px;
}

#movie_introduce {

    width: 1200px;
    height: 2350px;
    position: relative;
    background-color: whitesmoke;
    padding: 20px;
    margin: 0 auto;
}


.css-16l0ojz-MaxWidthGrid {
    max-width: 640px;
    margin: 0 auto;
}

.css-ds7f62-PosterWithRankingInfoBlock {
    padding: 0 0 0 153px;
    position: relative;
}

.css-m21fst-Self-LazyLoadingImg {
    position: absolute;
    z-index: 3;
    top: -120px;
    left: -80px;
    width: 170px;
    height: 230px;
    border-width: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    border: solid 1px #fff;
    border-radius: 3px;
    margin: 0 auto;
    background: #f8f8f8;
    transition: 300ms;
}

.css-1onlrbk-Img-LazyLoadingImg {
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    background: rgb(248, 248, 248);
    transition: all 300ms ease 0s;
}

.slides.img {
    left: 500px;
}

.css-1wnjyf4-Title {
    width: 520px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#movie_content {
    width: 900px;
    height: 100% auto;
    /* text-align: center; */
    margin-top: 80px;
    margin-left: 130px;
    position: absolute;
    font-size: 20;
    font-family: monospace fantasy;
    line-height: 40px;
    box-sizing: content-box;
    padding: 30px;
    background-color: white;
}

#movie_trailer_container {
    border: 5px;
    border-style: solid;
    width: 900px;
    height: 220px;
    /* text-align: center; */
    margin-top: -360px;
    margin-left: 5px;
    position: absolute;
    font-size: 20;
    font-family: monospace fantasy;
    line-height: 20px;
    box-sizing: content-box;
    padding: 30px;
    background-color: white;
    border-color: slategray;
}

#favorite_movie_like_on {
    width: 80px;
    height: 80px;
    background-image: url('../img/good_after.png');
    background-size: cover;
    cursor: pointer;
    font-size: 60px;
}

#favorite_movie_like_on:hover {
    background-image: url('../img/good_after.png');
    width: 80px;
    height: 80px;
    background-size: cover;
    overflow: hidden;
}

#favorite_movie_like_off {
    width: 80px;
    height: 80px;
    background-image: url('../img/good_before.png');
    background-size: cover;
    cursor: pointer;
    font-size: 60px;
}

#favorite_movie_like_off:hover {
    background-image: url('../img/good_after.png');
    width: 80px;
    height: 80px;
    background-size: cover;
    overflow: hidden;
}

#review_write {
    width: 80px;
    height: 80px;
    background-image: url("../img/review_write.png");
    background-size: cover;
}

.css-zv7ww6-Detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-weight: 30;
    letter-spacing: -0.5px;
    line-height: 20px;
    box-sizing: border-box;
    margin-top: 3px;
    font-family: 'fantasy';
    font-weight: bold;
    letter-spacing: -1px;

}

.css-1xlr4il-ContentRatings {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 40;
    letter-spacing: -0.5px;
    line-height: 20px;
    padding: 10px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin-top: 14px;
    /* font-family: fantasy; */
    border-width: 3px;
    font-weight: bold;

}

.movie_like_write {
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    font-size: 15px;
    font-weight: 40;
    letter-spacing: -0.5px;
    line-height: 20px;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
    margin-top: 14px;
    /* font-family: fantasy; */
    border-width: 3px;
    font-weight: bold;
}

#movie_score {
    width: 400px;
    height: 60px;
    margin-top: 25px;
    right: 330px;
    background-color: white;
    position: absolute;
    float: left;
    text-align: left;
    padding-left: 30px;
}

#movie_casting_container {
    width: 960px;
    height: 320px;
    margin-top: 450px;
    margin-left: 130px;
    text-align: center;
    position: absolute;
    background-color: white;

}


#movie_cast_1 {
    width: 111px;
    height: 159px;
    top: 35px;
    margin-left: 80px;
    position: relative;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;
    overflow: visible;
    border-radius: 100%;
}

#movie_cast_2 {
    width: 111px;
    height: 159px;
    overflow: visible;
    border-radius: 50%;
    top: 80px;
    margin-left: 220px;
    position: absolute;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;


}

#movie_cast_3 {
    width: 111px;
    height: 139px;
    overflow: visible;
    border-radius: 50%;
    top: 80px;
    margin-left: 360px;
    position: absolute;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;

}

#movie_cast_4 {
    width: 111px;
    height: 139px;
    overflow: visible;
    border-radius: 50%;
    top: 80px;
    margin-left: 500px;
    position: absolute;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;
}

#movie_cast_5 {
    width: 111px;
    height: 139px;
    overflow: visible;
    border-radius: 50%;
    top: 80px;
    margin-left: 640px;
    position: absolute;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;
}

#movie_cast_6 {
    width: 111px;
    height: 139px;
    overflow: visible;
    border-radius: 50%;
    top: 80px;
    margin-left: 780px;
    position: absolute;
    font-size: 13px;
    font-family: fantasy;
    font-weight: bold;
}

#movie_comment_container {
    width: 960px;
    height: 830px;
    margin-top: 190px;
    margin-bottom: 100px;
    text-align: center;
    position: absolute;
    background-color: white;
}

#movie_comment_box {
    width: 650px;
    height: 663px;
    border: 2px;
    border-style: solid;
    text-align: left;
    position: absolute;
    margin-top: 80px;
    left: 245px;
    background-color: white;
    background-color: white;
    border-color: slategray;
}

.user_comment_title {
    width: 150px;
    margin: 40px 0 0 0;
    float: left;
    margin-left: 50px;
    margin-top: 50px;

}

.user_comment_title span {
    font-size: 26px;
    font-weight: bold;
    color: #585858;
}

/* .star_rating {
 font-size:0;
 letter-spacing:-4px;
}
.star_rating a {
   font-size:22px;
   letter-spacing:0;
   display:inline-block;
   margin-left:5px;
   color:#ccc;
   text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#777;} */


/* .star_rating_content {
  font-size:0;
  letter-spacing: -4px;
   margin-left: 50px;
 }

.star_rating_content a {
    font-size:16px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating_content a:first-child {margin-left:0;}
.star_rating_content a.on {color:#777;}   */

.comment_profile_img {
    float: left;
    margin-top: -10px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.comment_profile_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.starRadio_container {
    left: 100px !important;
    z-index: 0;
}

.user_comment_content {
    width: 650px;
    height: 90px;
    border-bottom: 3px solid gray;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
}

.comment_profile_name {
    width: 150px;
    margin-bottom: -5px;
    margin-left: 130px;
}

.comment_profile_name a {
    text-decoration: none;
    color: #585858;
}

.comment_line {
    display: inline-block;
    width: 310px;
    height: 70px;
    margin-top: -100px;
    line-height: -100px;
    margin-left: 130px;
    margin-right: 500px;
}

.board_number {
    margin-top: 70px;
    margin-left: 50px;
}

.board_number a {
    text-decoration: none;
    color: #585858;
}

.page_line {
    width: 600px;
    height: 50px;
    margin-left: 250px;
    margin-top: 770px;
    font-size: 20px;
}

.page_num {
    list-style: none;
    text-align: center;
}

.page_num li {
    display: inline-block;
}

.div_chu {
    width: 180px;
    height: 30px;
    text-align: center;
}

.div_chu img {
    width: 15px;
    height: 15px;
}

.div_chu_box {
    width: 160px;
    height: 25px;
    float: right;
    margin-right: 15px;
    margin-top: -110px;
}

.div_chu #like_count {
    display: inline-block;
    width: 70px;
    height: 25px;
    border: 1.25px solid skyblue;
    cursor: pointer;
}

.div_chu #dislike_count {
    display: inline-block;
    width: 70px;
    height: 25px;
    border: 1.25px solid orange;
    cursor: pointer;
}

.div_chu #like_count img {
    transform: translateY(20%);
}

.div_chu #dislike_count img {
    transform: translateY(30%);
}

.div_chu #like_count:hover {
    border: 1.25px solid #11AAFD;
}

.div_chu #dislike_count:hover {
    border: 1.25px solid darkorange;
}

.page_num a {
    text-decoration: none;
    color: black;
}

#toggleMakingnoteButton {
    display: none;
}

/* .css-m4wuz0-PosterContainer {
  padding: 300px 0 0;
  position: relative;
} */
/* .css-oqg1df-BlurPosterBlock {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
  justify-content: center;
  background: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .css-1qkjnu8-BlurPoster {
  position: relative;
  top: auto;
  left: auto;
  width: 825px;
  height: 100%;
  filter: none;
  background: url(https://movie-phinf.pstatic.net/20190423_41/1555994321935RJdum_JPEG/movie_image.jpg?type=m886_590_2) no-repeat center;
  background-size: cover;
} */
.css-1rtfe1i-LeftGradient {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 65%, rgba(20, 21, 23, 0.55) 75%, rgba(20, 21, 23, 0) 100%);
    width: 500px;


}

.css-ml7z2y-RightGradient {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 1) 65%, rgba(20, 21, 23, 0.55) 75%, rgba(20, 21, 23, 0) 100%);
    width: 500px;

}

.css-tyue43-LeftBackground {
    flex: 1;
    background: #211C38;
    filter: blur(100px);
    -webkit-filter: blur(100px);
}

.css-1ctk406-RightBackground {
    flex: 1;
    background: #111111;
    filter: blur(100px);
    -webkit-filter: blur(100px);

}

/* .css-1rpwc4r-DimmedLayer {
  background-image: linear-gradient( -180deg,rgba(0,0,0,0.35) 2%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0.5) 100% );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.css-p3jnjc-Pane {
    text-align: center;
    padding: 14px 16px 22px;
}

h1, h3, p, hr {
    margin: 0px;
}

.css-13h49w0-PaneInner {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 20px;
    box-sizing: border-box;
    margin-top: 3px;
}

.css-1xlr4il-ContentRatings em {
    color: #ff2f6e;
}

#kakao-link-btn {
    width: 120px;
    height: 50px;
    right: 50px;
    background-color: GOLD;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    position: absolute;
    font-family: 'NanumSquare', sans-serif;
    top: 30px;

}

/* 별점 */
.naver_movie_star_wrap {
    display: inline-block;
    margin-left: 60px
}

.naver_movie_star_wrap .blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
}

.naver_movie_star_wrap .startRadio {
    display: inline-block;
    overflow: hidden;
    height: 35px;
}

.naver_movie_star_wrap .startRadio:after {
    content: "";
    display: block;
    position: relative;
    z-index: 2;
    height: 35px;
    background: url("../../common/img/star.png") repeat-x 0 0;
    background-size: contain;
    pointer-events: none;
}

.naver_movie_star_wrap .startRadio__box {
    position: relative;
    z-index: 1;
    float: left;
    width: 17.6px;
    height: 40px;
    cursor: pointer;
}

.naver_movie_star_wrap .startRadio__box input {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}

.naver_movie_star_wrap .startRadio__box input:checked + .startRadio__img {
    background-color: #19ce60;
}

.naver_movie_star_wrap .startRadio__img {
    display: block;
    position: absolute;
    right: 0;
    width: 176px;
    height: 40px;
    pointer-events: none;
}

.wootcha_movie_star_wrap {
    display: inline-block;
    margin-left: 60px
}

.wootcha_movie_star_wrap .blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
}

.wootcha_movie_star_wrap .startRadio {
    display: inline-block;
    overflow: hidden;
    height: 35px;
}

.wootcha_movie_star_wrap .startRadio:after {
    content: "";
    display: block;
    position: relative;
    z-index: 2;
    height: 35px;
    background: url("../../common/img/star.png") repeat-x 0 0;
    background-size: contain;
    pointer-events: none;
}

.wootcha_movie_star_wrap .startRadio__box {
    position: relative;
    z-index: 1;
    float: left;
    width: 17.6px;
    height: 40px;
    cursor: pointer;
}

.wootcha_movie_star_wrap .startRadio__box input {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}

.wootcha_movie_star_wrap .startRadio__box input:checked + .startRadio__img {
    background-color: #20A0F1;
}

.wootcha_movie_star_wrap .startRadio__img {
    display: block;
    position: absolute;
    right: 0;
    width: 176px;
    height: 40px;
    pointer-events: none;
}

.review_reply_star {
    display: inline-block;
    margin-left: 60px
}

.review_reply_star .blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
}

.review_reply_star .startRadio {
    display: inline-block;
    overflow: hidden;
    height: 30px;
}

.review_reply_star .startRadio:after {
    content: "";
    display: block;
    position: relative;
    z-index: 2;
    height: 25px;
    background: url("../../common/img/star.png") repeat-x 0 0;
    background-size: contain;
    pointer-events: none;
}

.review_reply_star .startRadio__box {
    position: relative;
    z-index: 1;
    float: left;
    width: 12.8px;
    height: 25px;
    cursor: pointer;
}

.review_reply_star .startRadio__box input {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}

.review_reply_star .startRadio__box input:checked + .startRadio__img {
    background-color: #FB9F00;
}

.review_reply_star .startRadio__img {
    display: block;
    position: absolute;
    right: 0;
    width: 200px;
    height: 25px;
    pointer-events: none;
}

/* 스크롤 버튼 */
#movetopbt {
    width: 140px;
    height: 28px;
    float: right;
    background-color: red;
    color: white;
    cursor: pointer;
    right: 10px;
    bottom: 20px;
    position: fixed;
    margin-right: 10px;
    text-align: center;
}
