
div {
    display: block;
}
.css-1sh3zvx-NavContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
}


/* section1 */
.css-1j1monb-Main {
    padding-top: 0px;
    padding-bottom: unset;
}
section {
    display: block;
    font-family: Roboto, "Noto Sans KR", sans-serif;
    line-height: normal;
}
.css-1ihluk0-Content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 0px);
}
.css-1iyk86f-Background {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f8f8f8;
}

/* section2 */
.css-x864dh-Self {
    border-bottom: 1px solid #e3e3e3;
    background: #fff;
}

/* 포스터 컨테이너 */
.css-m4wuz0-PosterContainer {
    padding: 300px 0 0;
    position: relative;
}
.css-oqg1df-BlurPosterBlock {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    justify-content: center;
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.css-tyue43-LeftBackground {
    flex: 1;
    background: #211C38;
}
.css-1qkjnu8-BlurPoster {
    position: relative;
    top: auto;
    left: auto;
    width: 825px;
    height: 100%;
    filter: none;
    background: url(https://dhgywazgeek0d.cloudfront.net/watcha/image/upload/c_fill,h_720,q_80,w_1280/v1600327995/xdkdjneefuluo5mkaf1a.jpg) no-repeat center;
    background-size: cover;
}
.css-1rtfe1i-LeftGradient {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( -90deg,rgba(33,28,56,0) 0%,#211C38 100% );
    width: 100px;
}
.css-ml7z2y-RightGradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient( 90deg,rgba(48,53,57,0) 0%,#303539 100% );
    width: 100px;
}
.css-1ctk406-RightBackground {
    flex: 1;
    background: #303539;
}

.css-1rpwc4r-DimmedLayer {
    background-image: linear-gradient( -180deg,rgba(0,0,0,0.35) 2%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0.5) 100% );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* 포스터 */
.css-16l0ojz-MaxWidthGrid {
    max-width: 640px;
    margin: 0 auto;
}

.css-ds7f62-PosterWithRankingInfoBlock {
    padding: 0 0 0 153px;
    position: relative;
}
.css-m21fst-Self-LazyLoadingImg {
    position: absolute;
    top: -24px;
    left: 0;
    width: 153px;
    height: 221px;
    border-width: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    border: solid 1px #fff;
    border-radius: 3px;
    margin: 0 auto;
    background: #f8f8f8;
    transition: 300ms;
}
.css-1onlrbk-Img-LazyLoadingImg {
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    background: rgb(248, 248, 248);
    transition: all 300ms ease 0s;
}
img {
    border-style: none;
}

/* 영화 정보 */
.css-p3jnjc-Pane {
    text-align: center;
    padding: 14px 16px 22px;
}

.css-13h49w0-PaneInner {
    text-align: left;
    margin: 0 0 0 173px;
}

.css-1wnjyf4-Title {
    width: 520px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.9px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, h3, p, hr {
    margin: 0px;
}

.css-zv7ww6-Detail {
    color: black;
    font-size: 12px;
    font-weight: 40px;
    letter-spacing: -0.5px;
    line-height: 20px;
    box-sizing: border-box;
    margin-top: 3px;
    border: 5px;
    border-style: solid;
}

.css-1xlr4il-ContentRatings {
    color: #282828;
    font-size: 12px;
    font-weight: 10;
    letter-spacing: -0.5px;
    line-height: 20px;
    white-space: pre-wrap;
    box-sizing: border-box;
    padding: 7px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin-top: 14px;
}

.css-1xlr4il-ContentRatings em {
    color: #ff2f6e;
}