@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
    
  html {
    background-color: #F5F5F7;
 } 
    /* 빈공간을 어둡게 채우는 창 */
    .modal_container_review { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);  z-index: 99; 
        opacity: 1;  visibility: hidden; transform: scale(1.0); transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; } 

    /* 흰 화면의 dialog 부분 */
    .modal_container_review .modal_content_review{ position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%); background-color: #F5F5F7; 
         padding: 1rem 1.5rem; height: 600px;  border-radius: 0.5rem; display: flex; z-index: 100;} 

    /* content_left_review */
    .modal_container_review .modal_content_review .content_left_review{display:inline-block; width:500px; height: 100%; flex: auto; position: relative;}

    /* 상단 닉네임 및 평점 부분 */
    .modal_container_review .modal_content_review_header{height: 50px; width:95%; position:relative; margin: 0 auto;}

    /* 프로필 이미지 */
    .modal_container_review .small_img_box{ width: 45px; height: 45px; border-radius: 50%; overflow: hidden; display:inline-block; cursor: pointer;}
    .modal_container_review .small_img_box img{width: 100%; height: 100%; object-fit: cover;}
    
    /* 닉네임 */
    .modal_container_review .modal_content_review_header div:nth-child(2){display:inline; margin-left:20px; margin-right:300px; 
        position:absolute; left:40px; top:15px}
    
    /* 평점 */
    .modal_container_review .modal_content_review_header div:nth-child(3){display:inline; position:absolute; right:0px;top:10px; }

    /* 닫기 버튼 */
    .modal_container_review .modal_close_btn_review { float: right; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; text-align: center; cursor: pointer; 
         border-radius: 0.25rem;  background-color: lightgray;  } 
    .modal_container_review .modal_close_btn:hover { background-color: darkgray; } 

    /* 영화제목 */
    .modal_container_review .title{font-size: xx-large; font-family: 'paybooc-Bold'; color: rgb(12, 25, 29); margin-top:30px; margin-bottom:50px} 

    /* 한줄평 및 장문평 제목 */
    .modal_container_review h2{margin-top:20px; font-family: 'paybooc-Bold'; color: rgb(12, 25, 29); text-align: center; margin-bottom: 20px;}

    /* 한줄평 */
    .line_review{word-break:break-all; font-family: 'paybooc-light'; font-size: 20px; width:90%; margin:0 auto; margin-bottom:50px; 
        text-align: center;text-overflow:ellipsis; white-space:normal;overflow: hidden;}
    .line_view_box { position: absolute; top: 200px; width: 100%; }

    /* 장문평 */
    .long_review{word-break:break-all; font-family: 'Oswald', sans-serif; font-size: 20px; width:90%; margin:0 auto; margin-bottom:30px;
        max-height:200px; overflow-y:auto; text-align: center;text-overflow:ellipsis; white-space:normal;overflow: hidden;}
    .long_view_box { position: absolute; top: 350px; width: 100%; }

    /* 좋아요 및 댓글 icon */
    .modal_content_review_bottom {width:500px; height:30px; position: fixed; bottom: 0;}
    .modal_content_review_bottom input{display:none;}
    .modal_content_review_bottom .review_like_form {display: inline-block;}
    .modal_content_review_bottom img{width:20px; height:20px; display:inline-block; line-height:30px}
    .modal_content_review_bottom p{display:inline-block; line-height:30px; margin-right:20px}
    .modal_content_review_bottom .marginTB{margin-top: 10px;margin-bottom: 10px;}
    /* 등록일자 */
    .modal_content_review_bottom .review_regist_day{float:right;}
    /*구분선  */
    .fixed_bottom{position: fixed; bottom: 50px;}
    .content_left_review .review_content_box { height: 390px; }
    /* .line_view_box{line-height: 390px;} */
    /* ************** */
    /* 댓글 창 */
    /* ************** */
    .modal_container_review .comments_container{background-color: #F5F5F7; 
        width: 300px;  border-radius: 0.5rem; margin: auto; display: none; flex: auto; margin-left: 40px; }
    .modal_container_review .comments_container .comments_list{width: 100%;  height: 400px; overflow-y:auto;overflow-x: hidden; }
    .modal_container_review .comments_container .comments_register{width: 100%;  height: 140px; }
    
    /* comments item */
    .modal_container_review .comments_container .comments_item{position:relative; overflow: hidden;}
    
    /* profile image  및 닉네임*/
    .modal_container_review .comments_container .profile_box{display:inline-block; margin-right:15px; width:80px;text-align:center;}
    .modal_container_review .comments_container .profile_box p{font-size:10px; }
    .modal_container_review .comments_container .profile_box a{text-decoration:none;}
    
    /* 댓글 내용 */
    .modal_container_review .comments_container .comment_content p{word-break: break-all; overflow: hidden;  width: 200px;
        white-space: normal;}
    .modal_container_review .comments_container .comment_content {display:inline-block; width:220px; vertical-align:middle;
        position:absolute; top: 50%; left: 60%; transform:translate(-50%, -50%);}
    .spandelete{position: absolute; right: 0px; top: 40%; cursor: pointer;}

    /* 댓글 작성 창 */
    .modal_container_review .comments_container .comments_register textarea{width:100%; height:100px; resize:none; margin-top:10px;}
    .modal_container_review .comments_container .comments_register .submit_btn_box{margin-top:10px; float:right;}

    /* 로딩 이미지 */
    #loading_box{display: none; width: 100px; height: 100px; margin-left: 330px;}
    #loading_box img{width: 100%; height: 100%; object-fit: cover;}

    /* 페이지 상단으로 올리기 */
    a#btn_top {
        color: red;
        position: fixed;
        right: 2%;
        bottom: 50px;
        display: none;
        z-index: 2;
        border-radius: 40px;
        /* background-color: #F5F5F7; */
       font-size: 28px;
       font-weight: bolder;
    }
    a#btn_top img{width: 80px; height: 80px;}

    /* 별점 */
.blind { position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: none; clip: rect(0, 0, 0, 0); }
.startRadio { display: inline-block; overflow: hidden; height: 20px;} 
.startRadio:after {content: "";  display: block; position: relative; z-index: 2; height: 20px;
     background: url("../../common/img/star.png") repeat-x 0 0; background-size: contain; pointer-events: none; }
.startRadio__box { position: relative; z-index: 1; float: left; width: 10px; height: 25px; cursor: pointer; }
.startRadio__box input{opacity: 0 !important; height: 0 !important; width: 0 !important; position: absolute !important;}
.startRadio__box input:checked + .startRadio__img {background-color: #FB9F00; }
.startRadio__img {display: block; position: absolute; right: 0; width: 200px; height: 25px;  pointer-events: none; }