
.list_item{list-style: none; margin: 10px; width: 180px; height: 280px; overflow: hidden;
    float: left; text-align: center; background-color: white; box-shadow: 4px 4px 20px #D1CFCF; border-radius: 10px;}

.list_item img{width: 100%; height: 250px; }
.list_item a{text-decoration: none;}

/* 로딩 이미지 */
#loading_box{display: none; width: 100px; height: 100px; margin-left: 330px;}
#loading_box img{width: 100%; height: 100%; object-fit: cover;}