* {margin: 0; padding: 0;}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  html {
    background-color: #F5F5F7;
 }
/* 왼쪽 사이드 메뉴 */
/* 프로필 이미지 */
.nav_left{ width: 300px; float: left; margin-top: 100px; margin-left:50px; margin-right:50px;background-color: #F5F5F7; box-shadow: 4px 4px 20px #D1CFCF; border-radius: 10px;}
.profile_img_box { width: 200px; height: 200px; margin: 50px auto; border-radius: 50%; overflow: hidden;}
.nav_left img{ width: 100%; height: 100%; object-fit: cover; }

/* 네비게이션 앵커 */
.nav_left ul { margin: 50px}
.nav_left li{ font-family: 'paybooc-light'; font-size: 1rem; padding: 10px 0; list-style: none; }
.nav_left li a:link, .nav_left li a:visited, .nav_left li a:hover{ color: black; text-decoration: none;}
.nav_left h3{text-align: center;margin: 10px;}
.nav_left #follow_form{width: 100%;}
.nav_left #follow_form * {margin:0 auto; text-align: center;}
.nav_left .follow_box {width:99%; height:30px;}
.nav_left .follow_box input{display:none;}
.nav_left .follow_box .review_like_form {display: inline-block;}
.nav_left .follow_box img{ height:20px; display:inline-block; line-height:30px;border-radius: 5px; box-shadow: 2px 2px 10px #D1CFCF;}
.nav_left .follow_box p{display:inline-block; margin-right: 20px; font-family: 'paybooc-Bold'; font-size: 12px; color: black;}
.nav_left #follow_form label{width: 100px; display: block;}
.nav_left ul h4{font-size: large;}

/* section 안에 header 제목 부분 */
.section_header { margin: 50px;}
.section_header .title_sub{color: black; font-family: 'paybooc-Bold';}
.section_header .title_main{color: black; font-size: x-large; font-family: 'paybooc-Bold';}

/* section */
section{width: 800px; min-height: 800px;  margin: 50px; float: left; background-color: #F5F5F7;}

#review_total_count{display: inline-block;}
/* footer */
/* footer{position: absolute; bottom: 0px; background-color: midnightblue; float: left; width: 100%;} */

/* 페이지 상단으로 올리기 */
a#btn_top {
    color: red;
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 2;
    border-radius: 40px;
   font-size: 28px;
   font-weight: bolder;
}
a#btn_top img{width: 80px; height: 80px;}