html {
  background-color: #F5F5F7;
}

@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* section */
section{width: 800px; min-height: 800px;  margin: 100px auto; background-color: #F5F5F7;}

/* section 안에 header 제목 부분 */
.section_header { margin: 50px; background-color: #F5F5F7;}
.section_header .title_sub{color: black; font-family: 'paybooc-Bold';}
.section_header .title_main{color: black; font-size: x-large; font-family: 'paybooc-Bold';}

/* 빈공간을 어둡게 채우는 창 */
.container_review { }
/* 흰 화면의 dialog 부분 */
.container_review .content_review{ margin: 0 auto; background-color: #F5F5F7; 
     padding: 1rem 1.5rem;  width: 700px;  border-radius: 0.5rem; box-shadow: 4px 4px 20px #D1CFCF;} 
/* 상단 닉네임 및 평점 부분 */
.container_review .content_header_review{height: 50px; width:95%; position:relative;}
/* 프로필 이미지 */
.container_review .small_img_box{ width: 45px; height: 45px; border-radius: 50%; overflow: hidden; display:inline-block;}
.container_review .small_img_box img{width: 100%; height: 100%; object-fit: cover;}

/* 닉네임 */
.container_review .content_header_review div:nth-child(2){display:inline; margin-left:20px; margin-right:300px; 
    position:absolute; left:40px; top:15px}

/* 평점 */
.container_review .content_header_review div:nth-child(3){display:inline; margin-right:50px;position:absolute; right:60px; top:15px}
/* 닫기 버튼 */
.container_review .close_btn_review { float: right; width: 1.5rem; line-height: 1.5rem; text-align: center; cursor: pointer; 
     border-radius: 0.25rem;  background-color: lightgray;  } 
.container_review .close_btn_review:hover { background-color: darkgray; } 
/* 영화제목 */
.container_review .title{ font-family: 'Oswald', sans-serif; color: #20A2F1; margin-top:30px; margin-bottom:50px} 
/* 한줄평 및 장문평 제목 */
.container_review h2{margin-top:20px; font-family: 'Oswald', sans-serif; color: #20A2F1; text-align: center; margin-bottom:20px; font-family: 'paybooc-Bold';}

/* form 태그 */
.content_review form{width: 100%;margin: 0 auto;}

.content_review form input[type=submit]{width: 30%; height: 30px; margin: 0px auto; margin-top: 10px; display: block; background-color:rgb(44, 44,44);
    border: none; border-radius: 10px; color: #F5F5F7;}

/* .content_review h2{text-align: center; margin-bottom:20px; } */

/* 한줄평 */
.review_short{word-break:break-all; font-family: 'Oswald', sans-serif; font-size: 20px; width:80%; margin:20px auto; 
    margin-bottom:30px; display:block; border-style: none; text-align: center; background-color: #F5F5F7;}

/* 장문평 */
.review_long{word-break:break-all; font-family: 'Oswald', sans-serif; font-size: 20px; width:80%; margin:20px auto;
    margin-bottom:30px;height:200px; overflow-y:auto; display:block; border-style: none; text-align: center; background-color: #F5F5F7;}
#long_view_box{display:block;}

/* 별점 */
.startRadio_box { text-align: center;}
.blind { position: absolute; overflow: hidden; margin: -1px; padding: 0; width: 1px; height: 1px; border: none; clip: rect(0, 0, 0, 0); }
.startRadio { display: inline-block; overflow: hidden; height: 20px;} 
.startRadio:after {content: "";  display: block; position: relative; z-index: 2; height: 20px;
     background: url("../../common/img/star1.png") repeat-x 0 0; background-size: contain; pointer-events: none; }
.startRadio__box { position: relative; z-index: 1; float: left; width: 10px; height: 25px; cursor: pointer; }
.startRadio__box input{opacity: 0 !important; height: 0 !important; width: 0 !important; position: absolute !important;}
.startRadio__box input:checked + .startRadio__img {background-color: #FB9F00; }
.startRadio__img {display: block; position: absolute; right: 0; width: 200px; height: 25px;  pointer-events: none; }


/* 슬라이드 이미지 */
.slideShow{
    position: relative;
    background-color: black;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .slideShow_slides{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .slideShow_slides a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding-top: 20px;
  }
  
  .slideShow_nav a.prev{
    position: absolute;
    width: 71px;
    height: 71px;
    background: url('../../movie_introduce_page/img/sprites.png') no-repeat -0px -20px;
    left: 32%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    margin-left: -500px;
  }
  
  .slideShow_nav a.next{
    position: absolute;
    width: 71px;
    height: 71px;
    background: url('../../movie_introduce_page/img/sprites.png') no-repeat -81px -20px;
    left: 65%;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    margin-left: 500px;
  }
  
  .slideShow_indicator{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25px;
    text-align: center;
  }
  
  .slideShow_indicator a{
    background: url('../../movie_introduce_page/img/sprites.png') no-repeat -113px -4px;
      width: 9px;
    height: 8px;
    margin: 0 5px;
    text-indent: -9999em;
    display: inline-block;
  }
  
  .slideShow_indicator a.active{
    background: url('../../movie_introduce_page/img/sprites.png') no-repeat -133px -4px;
      width: 9px;
      height: 8px;
  }